.course-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-container {
  width: 100%;
  max-width: 75%; /* Adjust this value based on your layout */
  height: auto;
  max-height: calc(100vh - 400px); /* Adjust this value based on your layout */
  object-fit: cover;
  margin: auto;
  text-align: center; /* Center the content */
}

.video-course {
  width: 100%;
  max-width: 75%; /* Adjust this value based on your layout */
  height: auto;
  max-height: calc(100vh - 400px); /* Adjust this value based on your layout */
  background-color: red; /* Set your desired background color */

  // width: 100%;
  // height: auto;
  // max-height: 50vh; /* Adjust this value based on your layout */
  // object-fit: cover;
}

.hidden {
  display: none;
}
