<h1>Sections#show</h1>
<h2><%= @section.title %> <%= humanized_money_with_symbol(@section.price) %></h2>
<% @section.videos.each do |video| %>
  <%= link_to video.name, video_path(video) %>
<% end %>
