<h1>Fitness Courses</h1>

<div class="intro-div">
  <div class="intro-text">
    <h5>Who Are We ?</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium quam vulputate dignissim suspendisse in. At erat pellentesque adipiscing commodo elit at imperdiet dui. Diam vulputate ut pharetra sit amet aliquam id diam maecenas. Eget velit aliquet sagittis id consectetur purus ut faucibus pulvinar. Nullam ac tortor vitae purus faucibus ornare. Massa ultricies mi quis hendrerit dolor magna. Facilisis mauris sit amet massa vitae tortor condimentum lacinia. Quis vel eros donec ac odio tempor orci. Ut tellus elementum sagittis vitae et. Nunc scelerisque viverra mauris in aliquam. Rhoncus mattis rhoncus urna neque. Vulputate odio ut enim blandit. Diam vulputate ut pharetra sit. Sagittis vitae et leo duis ut diam quam nulla porttitor. Suspendisse in est ante in. Enim tortor at auctor urna nunc id cursus metus. Suspendisse in est ante in nibh. Cursus metus aliquam eleifend mi. Gravida rutrum quisque non tellus orci.
    </p>
  </div>
</div>

<%= link_to "see courses", courses_path, class:"button-main" %>
