<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>
<% @courses.each do |course| %>
  <%= link_to course.title, course_path(course) %> <br>
<% end %>

<%= link_to "create a course", new_course_path %>
<%= link_to "create a section", new_section_path %>
<%= link_to "create a video", new_video_path %>
