<h1>Courses#show</h1>
<h2><%= @course.title %> <%= humanized_money_with_symbol(@course.price) %></h2>
<% @course.sections.each do |section| %>
  <%= link_to section.title, section_path(section) %>
<% end %>
